*{
    margin: 0;
    padding: 0;

}
.header{
    height: 400px;
    width: 100%;
    background-image:url(./img\ banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
nav img{
    width: 50px;
}
.nav-links{
    flex:1 ;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size:50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/* ----------fountaions------ */
.fountations{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 30px;
    padding: 60px;
}
.fountations p{
    width: 50%;
}
@media(max-width: 700){
    /* .text-box h1{
        font-size: 20px;
    } */
    .nav-inks ul li{
        display: block;
    }
    .nav-inks{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
    }  
}